alias amend='git commit --amend'
alias pull='git pull'
alias ls="eza --icons --grid --classify --colour=auto --sort=type --group-directories-first --header --modified --created --git --binary --group"
alias la="ls -a"
alias ll="ls -al"
alias rb='cd ~/src/rb'
alias size="du -hs ./* | sort -hr"
alias zshedit='vim ~/.config/zsh/.zshrc'
alias reload='source ~/.config/zsh/.zshrc'
alias gcm='git checkout main'
alias grhh='git reset --hard HEAD'
alias gs='git status'
alias grs='git restore'
alias grss='git restore --source'
alias grst='git restore --staged'